<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="../static/css/main.css">
        <title>{{cookiecutter.api_name}} - Help</title>
    </head>
    <body>
        <div class="title">
            {{cookiecutter.api_name}}
        </div>
        <p>Bem vindo a API <b>{{cookiecutter.api_name}}</b>. Essa é uma pagina help default.</p>
        <p>Voltar para <a href="../home">home</a></p>
        <div class="footer">
            Developed by GuiEdington | 2020
        </div>
    </body>
</html>